.idea
sample*
ProjectDescription*
target
.DS_Store
Small_TRCV2.zip
src/main/resources/reuters/
src/main/resources/StandardIndex
src/main/resources/StopWordsIndex
src/main/resources/WhiteSpaceIndex
src/main/resources/SpellChecker
src/main/resources/TestIndex
src/main/resources/TestStopWordsIndex
src/main/resources/TestWhiteSpaceIndex